.post {
  margin-bottom: 1em;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.post_image {
  display: flex;
  justify-content: center;
}

.post_image img {
  max-width: 600px;
  border-radius: 6px;
}

.post h2 {
  margin: 0;
}

.post_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.post_title span {
  font-size: 0.7em;
}

.post .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: rgba(
    rgb(247, 245, 245),
    rgb(224, 224, 224),
    rgb(250, 250, 250),
    0.8
  );
  margin-bottom: 1em;
}
