.post {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail_post {
  max-width: 720px;
}

.post h3 {
  margin-bottom: 0.2em;
}

.post img {
  max-width: 600px;
  border-radius: 6px;
}

.post .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}
